include README.md
include LICENSE
include MANIFEST.in
recursive-include src/aoi_data_manager *.py
recursive-include src/aoi_data_manager *.typed
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store